{% extends 'base.html.twig' %}

{% block title %}Medicina{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/frases">Frases Conversacionales</a></li>
            <li class="breadcrumb-item active" aria-current="page">Medicina</li>
        </ol>
    </nav>
    <h1>Términos y Frases útiles para la Medicina</h1>

    <div class="container" align="center">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                        <img src="/images/Frases/medicina/hospital.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                        <div class="card-body">
                            <h5>Hospital</h5>
                            <p class="card-text">Con la mano en la frente, realizamos la letra F</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="/images/Frases/medicina/doctor.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>Doctor</h5>
                            <p class="card-text">Realizamos la letra D, en nuestra muñeca, y relizamos ese movimiento 2 veces.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="/images/Frases/medicina/vacuna.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>Vacuna</h5>
                            <p class="card-text">Realizamos una pinza en el brazo cerca del hombro, en posición similar a usar una jeringa.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="container" style align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="/images/Frases/medicina/coronavirus.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5>Coronavirus (COVID)</h5>
                        <p class="card-text">Hacemos puño una manos, y con la otra mano, abrimos lentamente la mano. Luego con la mano abrimos una pinza desde nuestra nariz, y la abrimos.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Frases/medicina/mascarilla.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Porfavor usar mascarilla</h5>
                        <p class="card-text">Con la mano en el pecho giramos de manera circular. Luego hacemos un movimiento alrededor de nuestro rostro similar a colocarnos una mascarilla.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Frases/medicina/manos.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Porfavor lavarse las manos</h5>
                        <p class="card-text">Con la mano en el pecho giramos de manera circular. Luego hacemos un movimiento alrededor de nuestras manos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="/images/Frases/medicina/contagio.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5>Contagio</h5>
                        <p class="card-text">Levantamos los dedos indice y meñique, desde nuestro pecho hacía afuera.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Frases/medicina/enfermo.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Enfermo</h5>
                        <p class="card-text">Con un dedo de cada mano se señalan a la vez la cabeza y el estomago. El dedo puede ser el medio o el anular.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Frases/medicina/tos.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Tos</h5>
                        <p class="card-text">Con el puño cerrado, golpeamos ligeramnete el pecho y fingimos una tos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="/images/Frases/medicina/gripe.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5>Gripe</h5>
                        <p class="card-text">Hacemos pinza con nuestros dedos indice y pulgar, y hacemos un movimiento hacia abajo desde nuestra nariz</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Frases/medicina/fiebre.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Fiebre</h5>
                        <p class="card-text">Con la palma extendida, nos tocamos varias veces en la frente y nuestro semblante se decae.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}