{% extends 'base.html.twig' %}

{% block title %}Frases para la comida{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/frases">Frases Conversacionales</a></li>
            <li class="breadcrumb-item active" aria-current="page">Comida</li>
        </ol>
    </nav>
    <h1>Frases para usar al momento de la comida</h1>

    <div class="container" align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="/images/Vocabulario.png" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5>Tengo Hambre</h5>
                        <p class="card-text">Con ambas manos, realizamos dos puños, se coloca una sobre otra, las movemos de afuera hacia dentro.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #ffffff;">
                    <img src="/images/Vocabulario.png" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>¿Que hay de comida?</h5>
                        <p class="card-text">Con una mano cerramos</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Vocabulario.png" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>No puedo comer...</h5>
                        <p class="card-text">La mano se desplaza hacia abajo ya pasar toca la punta del dedo indice de la mano contraria la cabeza se mueve de un lado al otro tu boca esta en forma de beso abierto.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="/images/Vocabulario.png" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5>No puedo beber... </h5>
                        <p class="card-text">La mano se desplaza hacia abajo ya pasar toca la punta del dedo indice de la mano contraria la cabeza se mueve de un lado al otro tu boca esta en forma de beso abierto.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Vocabulario.png" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Me gusta comer...</h5>
                        <p class="card-text">La mano toca el cuello y se desplaza hacia adelante mientras se cierran los dedos. La boca está en forma de beso abierto.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="/images/Vocabulario.png" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5>Buen Provecho</h5>
                        <p class="card-text">Las manos se desplazan hacia abajo dos veces. Los labios estan cerrados hacia adentro</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}