{% extends 'base.html.twig' %}

{% block title %}Transacciones Monetarias{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item"><a href="/frases">Frases Conversacionales</a></li>
                <li class="breadcrumb-item active" aria-current="page">Transacciones Monetarias</li>
            </ol>
        </nav>
        <h1>Frases que podemos usar al momento de Transacciones Monetarias</h1>

        <div class="container" align="center">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                        <img src="https://test-wp.pingui.app/images/Frases/pagar/costo.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                        <div class="card-body">
                            <h5>¿Cuánto cuesta?</h5>
                            <p class="card-text">Los dedos se frotan. La boca está cerrada con los labios hacia afuera. Nuestros dedos se abren y se cierran a la vez.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #ffffff;">
                        <img src="https://test-wp.pingui.app/images/Frases/pagar/dinero.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>No tengo dinero</h5>
                            <p class="card-text">El pulgar se desliza por los dedos. La mano gira de un lado hacia el otro rápidamente. </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="https://test-wp.pingui.app/images/Frases/pagar/impuesto.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>Pagar un Impuesto</h5>
                            <p class="card-text">Con la letra P, sobre la palma la movemos hacía afuera. El dedo indice toca dos veces la palma de la mano contraria.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" align="center">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                        <img src="https://test-wp.pingui.app/images/Frases/pagar/tarjeta.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                        <div class="card-body">
                            <h5>¿Efectivo o tarjeta?</h5>
                            <p class="card-text">El pulgar se desliza por los dedos, hacemos la letra O, y La mano se desliza en curva por la palma contraria hacia atrás, </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="https://test-wp.pingui.app/images/Frases/pagar/barato.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>Es barato</h5>
                            <p class="card-text">Hacemos pinza con nuestros dedos, movemos desde arriba hacia abajo.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="https://test-wp.pingui.app/images/Frases/pagar/caro.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>Es costoso</h5>
                            <p class="card-text">Hacemos pinza con nuestros dedos, movemos los dedos pinza hacia afuera.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="https://test-wp.pingui.app/images/Frases/pagar/cuotas.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5>Pagar en cuotas</h5>
                        <p class="card-text">Con la letra P, sobre la palma la movemos hacía afuera. Luego, hacemos pinza con los dedos y hacemos el mismo movimiento.<p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
