{% extends 'base.html.twig' %}

{% block title %}Colores{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/vocabulario">Vocabulario</a></li>
            <li class="breadcrumb-item active" aria-current="page">Colores</li>
        </ol>
    </nav>
    <h1>Los colores en LSEC</h1>

    <div class="container" style align="center">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                        <img src="https://test-wp.pingui.app/images/Vocabulario/colores/amarillo.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                        <div class="card-body">
                            <h5>Amarillo</h5>
                            <p class="card-text">Poner la mano en el costado de la cabeza no importa el lado, extenderla, e ir moviendo los dedos simulando brillo en el cabello</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="https://test-wp.pingui.app/images/Vocabulario/colores/verde.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>Verde</h5>
                            <p class="card-text">Con el puño cerrado llevar la mano hacia el ojo levantar el meñique, los nudillos en dirección hacia afuera, mover la  mano ligeramente de izquierda a derecha</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="https://test-wp.pingui.app/images/Vocabulario/colores/cafe.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>Café</h5>
                            <p class="card-text">Con la letra c en nuestro mentón lo movemos lentamente hacia afuera.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="container" style align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="https://test-wp.pingui.app/images/Vocabulario/colores/azul.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5>Azul</h5>
                        <p class="card-text">Con el dedo pulgar y el puño cerrado,  deslizarlo por la mejilla de arriba hacia abajo, simulando la letra A.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="https://test-wp.pingui.app/images/Vocabulario/colores/negro.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Negro</h5>
                        <p class="card-text">Cerrar el puño y levantar el dedo índice, de afuera hacia adentro deslizarlo por la mejilla. </p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="https://test-wp.pingui.app/images/Vocabulario/colores/morado.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Morado</h5>
                        <p class="card-text">Cerrar el puño y los nudillos en dirección hacia afuera, llevarlo al ojo moverlo ligeramente
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="https://test-wp.pingui.app/images/Vocabulario/colores/rojo.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5>Rojo</h5>
                        <p class="card-text">Llevar la mano  hacia la nariz y moverla ligeramente.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="https://test-wp.pingui.app/images/Vocabulario/colores/blanco.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Blanco</h5>
                        <p class="card-text">Llevar la mano a la mejilla y de abajo hacia arriba abrir y cerrar la mano.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="https://test-wp.pingui.app/images/Vocabulario/colores/tomate.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Naranja</h5>
                        <p class="card-text">Con el puño cerrado elevar la mano hacia la altura de la boca y abrir y cerrar la mano simulando una naranja</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}