{% extends 'base.html.twig' %}

{% block title %}Ecuador{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/vocabulario">Vocabulario</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ecuador</li>
        </ol>
    </nav>
    <h1>Principales Ciudadades del Ecuador</h1>

    <div class="container" style align="center">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                        <img src="/images/Vocabulario/ciudades/quito.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                        <div class="card-body">
                            <h5>Quito</h5>
                            <p class="card-text">Cerrar la mano en forma de o mostrando los nudillos hacia el frente y con la otra con el dedo índice golpearla ligeramente simulando la letra Q.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="/images/Vocabulario/ciudades/gye.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>Guayaquil</h5>
                            <p class="card-text">Elevar las manos hacia la altura de los hombros y agitarlas simulando calor.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="/images/Vocabulario/ciudades/cuenca.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>Cuenca</h5>
                            <p class="card-text">Levantar la mano simulando la letra c llevarla a la altura de un oído y cerrarla hacia abajo simulando una trenza</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="container" style align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/ciudades/ambato.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5>Ambato</h5>
                        <p class="card-text">Elevar la mano llevarla hasta la altura de la boca simulando la letra c con los nudillos hacia fuera bajar y subir ligeramente</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/ciudades/puyo.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Puyo</h5>
                        <p class="card-text">Con la letra P, sobre nuestro cachete desplazamos los dedos.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/ciudades/loja.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Loja</h5>
                        <p class="card-text">Con letra L, hacemos una curva hacia abajo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/ciudades/ibarra.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5>Ibarra</h5>
                        <p class="card-text">Levantar las 2 manos ponerlas a la altura del pecho los nudillos hacia arriba y moverlas alternadamente de adentro hacia afuera.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/ciudades/galapagos.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Galápagos</h5>
                        <p class="card-text">Cerramos el puño mostrando los nudillos hacia el frente y con la otra mano lo ponemos en la parte superior, moviendo nuestro dedo pulgar simulando una tortuga.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/ciudades/ecuador.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Ecuador</h5>
                        <p class="card-text">Con una mano extenderla con los nudillos hacia arriba con la otra entre cerramos el puño y lo acercamos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}