{% extends 'base.html.twig' %}

{% block title %}Modales y Cortesía{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item"><a href="/frases">Frases Conversacionales</a></li>
                <li class="breadcrumb-item active" aria-current="page">Modales y Cortesía</li>
            </ol>
        </nav>
        <h1>Frases que podemos usar para ser corteses en LSEC</h1>

        <div class="container" align="center">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                        <img src="/images/Frases/modales/porfavor.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                        <div class="card-body">
                            <h5>Por favor</h5>
                            <p class="card-text">El ojo guiña y la cabeza gira un lado. Con la mano en el pecho, frotamos de manera circular.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #ffffff;">
                        <img src="/images/Frases/modales/gracias.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>Gracias</h5>
                            <p class="card-text">Estiramos una mano, con otra mano, desde nuestro menton llevamos la mano hasta donde está la otra mano.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="/images/Frases/modales/ayudar.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>¿Me puedes ayudar...?</h5>
                            <p class="card-text">Las manos juntas se deslizan en curva hacia adelante los labios estan en forma de beso abierto, y podemos agragar la frase "Por favor" </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" align="center">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                        <img src="/images/Frases/modales/prestar.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                        <div class="card-body">
                            <h5>¿Me puedes prestar...?</h5>
                            <p class="card-text">Los dedos entrecruzados se desplazan hacia el pecho. Giramos levemente la cabeza, y podemos agregar la frase "Porfavor"</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="/images/Frases/modales/ayudar1.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>¿En que le puedo ayudar?</h5>
                            <p class="card-text">Con los puños los desplazmos de arriba hacia abajo . Las manos juntas se deslizan en curva hacia adelante los labios estan en forma de beso abierto, nos dirigimos hacia le persona. </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="/images/Frases/modales/amigoo.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>Tú eres mi amigo</h5>
                            <p class="card-text">Señalamos a la persona. Los dedos se entrelazan y se sacuden. Los dientes muerden el labio inferior.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
