{% extends 'base.html.twig' %}

{% block title %}Bienvenido a LearnSEC! {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<center>
<h1>Bienvenido a LearnSEC</h1>
<h4>Un espacio para aprender lengua de señas ecuatoriana</h4>
</center>
    <div class="container">
        <div class="row row-cols-2">
            <div class="col">
                <img src="/images/inicio1.png" class="img-fluid" alt="imagen_inicio">
            </div>
            <div class="col">
                <div class="d-grid gap-2 col-6 mx-auto">
                <br>
                    <a class="btn btn-primary" href="/gramatica" role="button">Gramática LSEC</a>
                    <a class="btn btn-primary" href="/abecedario" role="button">Abecedario LSEC</a>
                    <a class="btn btn-primary" href="/frases" role="button">Frases Conversacionales</a>
                    <a class="btn btn-primary" href="/vocabulario" role="button">Vocabulario LSEC</a>
                    <a class="btn btn-primary" href="/diccionario" role="button">Diccionario LSEC</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">¿Quieres saber como se dice una palabra en especifíco?</h5>
        <p class="card-text">Dale clic al botón y lo mas pronto posible te contestamos. Nuestra misión es que aprendas lengua de señas.</p>
        <a href="https://wa.link/pjqwgc" target="_blank" class="btn btn-primary">Consultar una palabra</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">¿Como se usa esta aplicación?</h5>
        <p class="card-text">Para saber como usar nuesta herramienta desarrollamos un tutorial, en el cual podras ver cómo funciona esta aplicación hecha con el corazón.</p>
        <a href="https://www.youtube.com/watch?v=61TpaHcFkRw" target="_blank" class="btn btn-primary">Ver el tutorial</a>
      </div>
    </div>
  </div>
</div>
    <br>
</div>

{% endblock %}
