{% extends 'base.html.twig' %}

{% block title %}Gramática de LSEC{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Gramática</li>
        </ol>
    </nav>
    <h1>¿Cómo se forma una oración en lengua de señas ecuatoriana?</h1>
    <center>
        <div>
            <img src="/images/gramatica.png" class="img-fluid" alt="imagen_gramatica" >
        </div>
        <br>
        <div>
            <p style="text-align: justify">
                La estructura de las oraciones, es similar a la estructura de las oraciones en Ingles.
                En la estructura que se presenta la letra S, representa el sujeto o el objeto. La letra V, representa el verbo, la acción que el sujeto o el objeto realiza. Y la letra C representa el complemento, es decir las formas de tiempos y demás cosas.
            </p>
        </div>
    </center>
    <br>
    <h3>¿Cómo se forma una pregunta en lengua de señas ecuatoriana?</h3>
        <div>
            <img src="/images/gramatica1.png" class="img-fluid" alt="pregunta_gramatica" >
        </div>
        <br>
        <div>
            <p style="text-align: justify">
                La estructura de las preguntas difieres de las oraciones en Ingles.
                En la estructura que se presenta la letra P, representa las particulas de preguntas. La letra S, representa el sujeto o el objeto. La letra V, representa el verbo, la acción que el sujeto o el objeto realiza. Y la letra C representa el complemento, es decir las formas de tiempos y demás cosas.
            </p>
            <p style="text-align: justify"><b>Nota: </b>Nuestra cara y nuestra boca son parte fundamental de una buena pronunciación y buen uso de la lengua. Puedes dar click aqui en el botón o dirigirte a la sección de frases conversacionales para conocer las particulas para realizar preguntas.</p>
            <center>
                <a class="btn btn-primary" href="/preguntas" role="button">Preguntas</a>
            </center>
        </div>
    <br>
    <h3>¿Por qué es importante la cara y los gestos en LSEC?</h3>
    <br>
    <div>
        <p style="text-align: justify"> En la lengua de señas ecuatoriana, es fundamental el uso de las cejas, de las mejillas y de las diferentes partes del rostro.
            Para complementar y dar fuerza a la idea.
        </p>
        <p style="text-align: justify"><b>Práctica las siguientes expresiones: </b></p>
    </div>
    <center>
        <div>
            <img src="/images/gramatica2.jpg" class="img-fluid" alt="pregunta_gramatica" >
        </div>
    </center>


</div>
{% endblock %}
