{% extends 'base.html.twig' %}

{% block title %}Gramática de LSEC{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Gramática</li>
        </ol>
    </nav>
    <h1>¿Cómo se forma una oración en lengua de señas ecuatoriana?</h1>
    <center>
        <div>
            <img src="/images/gramatica.png" class="img-fluid" alt="imagen_gramatica" >
        </div>
        <br>
        <div>
            <p style="text-align: justify">
                La estructura de las oraciones, es similar a la estructura de las oraciones en Ingles.
                En la estructura que se presenta la letra S, representa el sujeto o el objeto. La letra V, representa el verbo, la acción que el sujeto o el objeto realiza. Y la letra C representa el complemento, es decir las formas de tiempos y demás cosas.
            </p>
        </div>
    </center>

</div>
{% endblock %}
