{% extends 'base.html.twig' %}

{% block title %}Abecedario{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Abecedario LSEC</li>
        </ol>
    </nav>
    <h1>Abecedario LSEC</h1>
    <div class="container" align="center">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                        <img src="/images/Abecedario/008-sign%20language.png" class="img-fluid" class="card-img-top" alt="img_saludos">
                        <div class="card-body">
                            <h5>Letra A</h5>
                            <p class="card-text">Cierra tu puño, y extiende tu dedo pulgar.
                        <br>
                        De esta manera se forma la letra A.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="/images/Abecedario/009-sign%20language.png" class="img-fluid" class="card-img-top" alt="img_saludos">
                        <div class="card-body">
                            <h5>Letra B</h5>
                            <p class="card-text">Extiende tus dedos, con la palma abierta y mete el dedo pulgar hacia tu palma.
                            <br>
                            De esta manera se forma la letra B.</div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="/images/Abecedario/010-sign%20language.png" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                        <h5 class="card-title">Letra C</h5>
                        <p class="card-text">Con tu mano realiza una curva similar a como se ve la letra c en español.
                            <br>
                            De esta manera se forma la letra C.</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="container" style align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="/images/Abecedario/011-sign%20language.png" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5 class="card-title">Letra D</h5>
                        <p class="card-text">Extiende tu dedo indice, mientras que juntas los dedos medio, anular y meñique con tu dedo pulgar.
                            <br>
                            De esta manera se forma la letra D.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Abecedario/012-sign%20language.png" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5 class="card-title">Letra E</h5>
                        <p class="card-text">Realiza un tipo de puño, y extiende ligeramente los dedos indice, anular,medio y meñique.
                            <br>
                            De esta manera se forma la letra E.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Abecedario/013-sign%20language.png" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5 class="card-title">Letra F</h5>
                        <p class="card-text">Une tu dedo indice y pulgar, y luego extiende los dedos restantes.
                            <br>
                            De esta manera se forma la letra F.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="/images/Abecedario/014-sign%20language.png" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5 class="card-title">Letra G</h5>
                        <p class="card-text">Haz pinza con tus dedos indice y pulgar. Gira tu mano.
                            <br>
                            De esta manera se forma la letra G.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Abecedario/015-sign%20language.png" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5 class="card-title">Letra H</h5>
                        <p class="card-text">Extiende los dedos indice y medio, y contrae el resto de los dedos. Gira la mano igual que en la letra H.
                            <br>
                            De esta manera se forma la letra H.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Abecedario/016-sign%20language.png" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5 class="card-title">Letra I</h5>
                        <p class="card-text">Extiende el dedo meñique, y contrae el resto de dedos.
                            <br>
                            De esta manera se forma la letra I.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="container" align="center">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                        <img src="/images/Abecedario/017-sign%20language.png" class="img-fluid" class="card-img-top" alt="img_saludos">
                        <div class="card-body">
                        <h5 class="card-title">Letra J</h5>
                        <p class="card-text">Extiende el dedo meñique, y contrae el resto de dedos. En el aire dibuja una J con con el dedo extendido.
                            <br>
                            De esta manera se forma la letra J.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="/images/Abecedario/018-sign%20language.png" class="img-fluid" class="card-img-top" alt="img_saludos">
                        <div class="card-body">
                            <h5 class="card-title">Letra K</h5>
                            <p class="card-text">Levanta los dedos indice y medio, en el medio de estos dedos, coloca el dedo pulgar.
                            <br>
                            De esta manera se forma la letra K.</p>
                            </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="/images/Abecedario/019-sign%20language.png" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                        <h5 class="card-title">Letra L</h5>
                        <p class="card-text">Extiende el dedo indice y pulgar, y forma una forma similar a la letra en español.
                            <br>
                            De esta manera se forma la letra L.</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="container" style align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="/images/Abecedario/020-sign%20language.png" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5 class="card-title">Letra M</h5>
                        <p class="card-text">Junta tus dedos meñique y pulgar. Sobre estos dedos, coloca los tres dedos restantes.
                            <br>
                            De esta manera se forma la letra M.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Abecedario/021-sign%20language.png" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5 class="card-title">Letra N</h5>
                        <p class="card-text">Junta tus dedos meñique, anular y pulgar. Sobre estos dedos, coloca los dos dedos restantes.
                            <br>
                            De esta manera se forma la letra N.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Abecedario/022-sign%20language.png" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5 class="card-title">Letra O</h5>
                        <p class="card-text">Juntas todos tus dedos, y forma un tunel con tus dedos .
                            <br>
                            De esta manera se forma la letra O.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="/images/Abecedario/023-sign%20language.png" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5 class="card-title">Letra P</h5>
                        <p class="card-text">Levanta los dedos indice y medio, en el medio de estos dedos, coloca el dedo pulgar. Por último gira la mano hacia abajo.
                            <br>
                            De esta manera se forma la letra P.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Abecedario/024-sign%20language.png" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5 class="card-title">Letra Q</h5>
                        <p class="card-text">Haz pinza con tus dedos indice y pulgar. Gira tu mano hacia abajo.
                            <br>
                            De esta manera se forma la letra Q.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Abecedario/025-sign%20language.png" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5 class="card-title">Letra R</h5>
                        <p class="card-text">Levanta los dedos indice y medio, entrecruza los dedos levantados.
                            <br>
                            De esta manera se forma la letra R.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container" align="center">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                        <img src="/images/Abecedario/026-sign%20language.png" class="img-fluid" class="card-img-top" alt="img_saludos">
                        <div class="card-body">
                        <h5 class="card-title">Letra S</h5>
                        <p class="card-text">Realiza un puño, y luego gira la mano sobre tu muñeca.
                            <br>
                            De esta manera se forma la letra S.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="/images/Abecedario/027-sign%20language.png" class="img-fluid" class="card-img-top" alt="img_saludos">
                        <div class="card-body">
                        <h5 class="card-title">Letra T</h5>
                        <p class="card-text">Realiza un puño, pero coloca tu pulgar dentro del puño.
                            <br>
                            De esta manera se forma la letra T.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="/images/Abecedario/028-sign%20language.png" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                        <h5 class="card-title">Letra U</h5>
                        <p class="card-text">Levanta los dedos indice y medio, junta ambos dedos.
                            <br>
                            De esta manera se forma la letra U.</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="container" style align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="/images/Abecedario/029-sign%20language.png" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5 class="card-title">Letra V</h5>
                        <p class="card-text">Levanta los dedos indice y medio. Separa ligeramente ambos dedos. Esta seña es parecida a la seña de la paz o peace sign.
                            <br>
                            De esta manera se forma la letra V.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Abecedario/030-sign%20language.png" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5 class="card-title">Letra W</h5>
                        <p class="card-text">Levanta los dedos indice, medio y anular. Separa ligeramente los dedos.
                            <br>
                            De esta manera se forma la letra W.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Abecedario/031-sign%20language.png" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5 class="card-title">Letra X</h5>
                        <p class="card-text">Haz un gancho con tu dedo indice, y cierra el resto de dedos. Desplaza tu mano hacia abajo.
                            <br>
                            De esta manera se forma la letra X.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="/images/Abecedario/032-sign%20language.png" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5 class="card-title">Letra Y</h5>
                        <p class="card-text">Levanta los dedos pulgar y meñique, el resto de dedos permanecen cerrados.
                            <br>
                            De esta manera se forma la letra Y.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Abecedario/033-sign%20language.png" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5 class="card-title">Letra Z</h5>
                        <p class="card-text">Levanta los dedos indice, en el aire dibujamos la letra Z.
                            <br>
                            De esta manera se forma la letra Z.</p>
                    </div>
                </div>
            </div>    
            </div>
        </div>
        <br>
</div>
{% endblock %}
