{% extends 'base.html.twig' %}

{% block title %}Miembros de la familia{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/vocabulario">Vocabulario</a></li>
            <li class="breadcrumb-item active" aria-current="page">Familia</li>
        </ol>
    </nav>
    <h1>Los miembros de la familia</h1>
   <div class="alert alert-primary" role="alert">
  <b>Nota: </b>La seña para los miembros de la familia es similar en muchos casos, solo difiere en la terminación. Si el miembro es del género femenino, la seña concluye con la letra A, y caso contrario, si es del género masculino, se termina la seña con la letra O.
</div>
    <div class="container" style align="center">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                        <img src="/images/Vocabulario/familia/papa.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                        <div class="card-body">
                            <h5>Papá</h5>
                            <p class="card-text">Con una mano llevar el dedo índice hacia la comisura de la boca y golpearla ligeramente.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="/images/Vocabulario/familia/mama.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>Mamá</h5>
                            <p class="card-text">Abrir la mano, con la palma hacia adentro, llevarla hacia la mejilla y golpearla suavemente.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="/images/Vocabulario/familia/cunado.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>Cuñado/Cuñada</h5>
                            <p class="card-text">con una mano simulando la letra c, llevarla hacia el pecho, con El pulgar hacia adentro y moverla ligeramente hacia afuera. Terminando la seña con la vocal O o la vocal A. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="container" style align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/familia/suegro.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5>Suegro/Suegra</h5>
                        <p class="card-text">con una mano cerrando los dedos índice, medio y anular, el pulgar hacia adentro moverlo ligeramente hacia afuera, terminando la seña con la vocal O o la vocal A.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/familia/tio.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Tio/Tia</h5>
                        <p class="card-text">Con una mano elevar el dedo índice hacia la parte inferior de la barbilla, manteniendo los demás dedos cerrados, mover la mano hacia afuera y terminando la seña con la letra O o la vocal A.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/familia/esposo.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Esposo/Esposa</h5>
                        <p class="card-text">Con el dedo pulgar señalar el dedo anular, terminando la seña en la vocal O o la vocal A.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/familia/primo.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5>Primo/Prima</h5>
                        <p class="card-text">Con una mano extender el dedo índice (manteniendo cerrados los demás dedos) y con la otra, utilizando los dedos pulgar, índice y medio apretar el dedo índice de la otra mano.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/familia/sobrino.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Sobrino/Sobrina</h5>
                        <p class="card-text">Utilizando una mano llevar los dedos índice y medio hacia las muñecas (manteniendo cerrados los demás dedos) girarlos abajo y hacia arriba.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/familia/hermano.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Hermano/Hermano</h5>
                        <p class="card-text">Con dos dedos los llevamos a la muñeca de la mano opuesta y hacemos un movimiento lateral, terminando la seña en la vocal O o la vocal A.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/familia/abuelo.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5>Abuelo</h5>
                        <p class="card-text">Con una mano, hacemos un puño y lo colocamos en la altura de nuestro menton.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/familia/abuela.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Abuela</h5>
                        <p class="card-text">Con ambas manos hacemos puño, y desde nuestras patillas hacemos un movimiento ondulatorio simulando unas trenzas.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}