{% extends 'base.html.twig' %}

{% block title %}Saludos en LSEC{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/frases">Frases Conversacionales</a></li>
            <li class="breadcrumb-item active" aria-current="page">Saludos</li>
        </ol>
    </nav>
    <h1>¿Cómo saludar y despedirse en lengua de señas?</h1>

    <div class="container" style align="center">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                        <img src="https://test-wp.pingui.app/images/Frases/saludos/buenos_dias.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                        <div class="card-body">
                            <h5>Buenos Dias</h5>
                            <p class="card-text">La mano desde la frente se desplaza hacia abajo y después hacia arriba mientras se abre simultáneamente</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="https://test-wp.pingui.app/images/Frases/saludos/buenas_tardes.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>Buenas Tardes</h5>
                            <p class="card-text">La mano cerrada en la frente se desplaza en curva hacia abajo mientras se abre simultáneamente y se asienta sobre la muñeca de la mano</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="https://test-wp.pingui.app/images/Frases/saludos/buenas_noches.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>Buenas Noches</h5>
                            <p class="card-text">La mano en la frente se desplaza hacía abajo, las manos abiertas desde la altura de los hombros se desplazan hacia el centro mientras simultáneamente se cierran. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="container" style align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="https://test-wp.pingui.app/images/Frases/saludos/Hola.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5>Hola</h5>
                        <p class="card-text">La mano con los dedos juntos se mueve repetidas veces.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="https://test-wp.pingui.app/images/Frases/saludos/nombre.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Mi nombre es...</h5>
                        <p class="card-text">Con el dedo indice, se señala a uno mismo. Luego con ambas manos, los dedos se tocan varias veces</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="https://test-wp.pingui.app/images/Frases/saludos/adios.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Adiós, cuídate mucho</h5>
                        <p class="card-text">Palma extendida, luego movemos la mano. Y luego, los dedos indice y medio, se juntan y giran.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="https://test-wp.pingui.app/images/Frases/saludos/bienvenido.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5>Bienvenidos a ... </h5>
                        <p class="card-text">La mano se mueve levemente hacia adelante, luego, se desplazan hacia adentro en diagonal. El rostro sonrie.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="https://test-wp.pingui.app/images/Frases/saludos/saludos.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Saludos Cordiales</h5>
                        <p class="card-text">Con ambas manos, desde la frente movemos las manos, como si fuera un saludo militar pero, lo realizamos con ambas manos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}