{% extends 'base.html.twig' %}

{% block title %}Saludos en LSEC{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/frases">Frases Conversacionales</a></li>
            <li class="breadcrumb-item active" aria-current="page">Saludos</li>
        </ol>
    </nav>
    <h1>¿Cómo saludar y despedirse en lengua de señas?</h1>

        <div class="container" style align="center">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="img_saludos">
                        <div class="card-body">
                            <h5>Buenos Dias</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="img_saludos">
                        <div class="card-body">
                            <h5>Buenos Dias</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="img_saludos">
                        <div class="card-body">
                            <h5>Buenos Dias</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
