{% extends 'base.html.twig' %}

{% block title %}Preguntas en LSEC{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/frases">Frases Conversacionales</a></li>
            <li class="breadcrumb-item active" aria-current="page">Preguntas</li>
        </ol>
    </nav>
    <h1>Preguntas en LSEC</h1>
    <h3>Recuerda que tu rostro debe reflejar duda</h3>
    <div class="container" align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="/images/Frases/preguntas/como.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5>¿Cómo?</h5>
                        <p class="card-text"><b>NOTA: </b>Esta expresión se refiere a la manera de hacer algo. Para hacerla llevamos nuestros 4 dedos hacia nuestro menton y lo movemos 2 veces.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #ffffff;">
                    <img src="/images/Frases/preguntas/porque.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>¿Por qué?</h5>
                        <p class="card-text">Desde nuestra frente, hacía adelante con una sola mano, y terminamos con la letra Y</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Frases/preguntas/cuando.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>¿Cuándo?</h5>
                        <p class="card-text">Con los dedos indices, uno lo dejamos estático, y otro gira alrededor del dedo fijo. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="/images/Frases/preguntas/donde.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5>¿Donde?</h5>
                        <p class="card-text">Con nuestras palmas hacia arriba las movemos ligeramente a los lados.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Frases/preguntas/paraque.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>¿Para qué?</h5>
                        <p class="card-text">Desde el cachete con la letra P, lo llevamos hacia nuestra palma, recogemos los dedos, solo choca el dedo indice con la palma.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Frases/preguntas/como1.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>¿Cómo?</h5>
                        <p class="card-text"><b>NOTA: </b>Esta expresión se utiliza para emociones y sentimientos. Con nuestras palmas hacia adentro las movemos hacia afuera</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}