{% extends 'base.html.twig' %}

{% block title %}Animales{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/vocabulario">Vocabulario</a></li>
            <li class="breadcrumb-item active" aria-current="page">Animales</li>
        </ol>
    </nav>
    <h1>Animales en LSEC</h1>

    <div class="container" align="center">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                        <img src="/images/Vocabulario/animales/pollo.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                        <div class="card-body">
                            <h5>Pollo</h5>
                            <p class="card-text">Con el puño cerrado elevando nuestra mano hacia la altura de nuestras comisuras extendemos el dedo pulgar e índice y lo abrimos y cerramos simulando el pico de un ave</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="/images/Vocabulario/animales/gato.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>Gato</h5>
                            <p class="card-text">Elevar las dos manos extendidas  hasta la altura de las comisuras de la boca, abrir los dedos índice y pulgar una y otra vez.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="/images/Vocabulario/animales/perro.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>Perro</h5>
                            <p class="card-text">Las manos se muever dos véčes hacia abajo. La lengua esta hacia afuera y hacia abajo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="container" style align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/animales/caballo.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5>Caballo</h5>
                        <p class="card-text">Hacemos puño las manos, y la colocamos una mano sobre otra, simulando llevar las riendas de un caballo.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/animales/conejo.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Conejo</h5>
                        <p class="card-text">La mano toca la barbilla y la otra, sin separarse de la cabeza, flexionan los dedos. Se muestra los dientes.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/animales/mariposa.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Mariposa</h5>
                        <p class="card-text">Con las palmas hacia adentro superponerlas una sobre la otra, juntar los pulgares y mover ligeramente los demás dedos de ambas manos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/animales/pajaro.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5>Pájaro</h5>
                        <p class="card-text">Con las palmas hacia fuera superponerlas una sobre la otra juntar los pulgares y mover ligeramente los demás dedos de ambas manos.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/animales/leon.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>León</h5>
                        <p class="card-text">Las manos se deslizan porta cabeza hacia atras se ven los dientes juntos y el ceria se frunce.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/animales/jirafa.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Jirafa</h5>
                        <p class="card-text">Juntar los dedos pulgar medio y anular, con la palma hacia afuera mover ligeramente de adentro hacia afuera Con la otra mano utilizando los dedos índice y medio simular las dos patas de la jirafa</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/animales/elefante.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5>Elefante</h5>
                        <p class="card-text">Cerrar el puño, simulando la letra o, llevar la mano hacia la nariz y moverla como la trampa del elefante.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/animales/camello.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Camello</h5>
                        <p class="card-text">La mano se desplaza con moivimineto ondulante por el biceps del brazo contrario La boca está en forma de beso.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}