{% extends 'base.html.twig' %}

{% block title %}Transportes{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/vocabulario">Vocabulario</a></li>
            <li class="breadcrumb-item active" aria-current="page">Transportes</li>
        </ol>
    </nav>
    <h1>Medios de Transporte en LSEC</h1>

    <div class="container" style align="center">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                        <img src="/images/Vocabulario/transportes/taxi.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                        <div class="card-body">
                            <h5>Taxi</h5>
                            <p class="card-text">Con el puño cerrado, extendemos los dedos índice y pulgar de nuestras dos manos, superponemos la una con la otra y frotamos ligeramente.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="/images/Vocabulario/transportes/trole.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>Trole</h5>
                            <p class="card-text">Extendemos una mano y con la otra mano extendemos los dedos índice y medio, lo ponemos encima y le damos movimiento.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="/images/Vocabulario/transportes/bus.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>Bus</h5>
                            <p class="card-text">Simulando la letra c con nuestras dos manos vamos a mover las ligeramente de adentro hacia afuera</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="container" style align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/transportes/bici.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5>Bicicleta</h5>
                        <p class="card-text">Con los puños cerrados,  juntamos las manos los nudillos hacia afuera y hacemos pequeños círculos.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/transportes/auto.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Automóvil</h5>
                        <p class="card-text">Cerramos los puños y simulamos que tenemos un volante de auto en las manos.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/transportes/avion.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Avión</h5>
                        <p class="card-text">Cerrando nuestros dedos medio y anular, con la palma hacia afuera.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/transportes/tren.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5>Tren</h5>
                        <p class="card-text">En ambas manos extendemos los dedos índice, medio y anular, un dedo se queda estático y otro hace un movimiento circular</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/transportes/moto.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Moto</h5>
                        <p class="card-text">Cerrando los puños, con los nudillos hacia afuera y moverlas ligeramente de abajo hacia arriba .</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/transportes/barco.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Barco/Bote</h5>
                        <p class="card-text">Con las palmas extendidas juntar las manos de manera cóncava.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}