{% extends 'base.html.twig' %}

{% block title %}Alimentos{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/vocabulario">Vocabulario</a></li>
            <li class="breadcrumb-item active" aria-current="page">Alimentos</li>
        </ol>
    </nav>
    <h1>Principales Alimentos en LSEC</h1>

    <div class="container" style align="center">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                        <img src="/images/Vocabulario/alimentos/arroz.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                        <div class="card-body">
                            <h5>Arroz</h5>
                            <p class="card-text">El dedo medio de la mano toca la palma de la mano contraria y se desliza levemente varias veces.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="/images/Vocabulario/alimentos/cafe.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>Café</h5>
                            <p class="card-text">Haciendo puño las dos manos nos juntamos una encima de la otra y hacemos un pequeño movimiento circular</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="/images/Vocabulario/alimentos/te.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>Té</h5>
                            <p class="card-text">Una mano simulamos la letra c y con la otra con nuestro dedo índice y pulgar simulamos que introducimos una bolsa de té.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="container" style align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/alimentos/jugo.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5>Jugo</h5>
                        <p class="card-text">Con la mano simulamos tener un vaso, lo llevamos hacia nuestra boca.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/alimentos/sopa.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Sopa</h5>
                        <p class="card-text">Con una mano mostrando los nudillos hacia abajo la extendemos y con la otra haciendo un pequeño movimiento cóncavo ponemos la sobreponemos en la otra mano.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/alimentos/agua.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Agua</h5>
                        <p class="card-text">Con el puño cerrado llevamos la mano hacia la altura de nuestra quijada, el pulgar hacia arriba, ligeramente la movemos de adentro afuera</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style align="center">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/alimentos/papa.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                    <div class="card-body">
                        <h5>Papa</h5>
                        <p class="card-text">Con el dedo índice, apuntamos a nuestro labio superior, ligeramente abrimos la boca y vocalizamos. por último abrimos la palma ligeramente.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/alimentos/chocolate.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Chocolate</h5>
                        <p class="card-text">Con nuestras dos manos las están vemos y las juntamos y las frutas de adentro hacia afuera.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                    <img src="/images/Vocabulario/alimentos/pizza.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                    <div class="card-body">
                        <h5>Pizza</h5>
                        <p class="card-text">Con la letra P, dibujamos en el aire un circulo, y simulamos cortar ese círculo en fracciones.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style align="center">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                        <img src="/images/Vocabulario/alimentos/pollo.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                        <div class="card-body">
                            <h5>Pollo</h5>
                            <p class="card-text">Con el puño cerrado elevando nuestra mano hacia la altura de nuestras comisuras extendemos el dedo pulgar e índice y lo abrimos y cerramos simulando el pico de un ave.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="/images/Vocabulario/alimentos/azucar.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>Azúcar</h5>
                            <p class="card-text">Con los dedos índice y medio, hacemos un movimiento circular en nuestro cachete.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="/images/Vocabulario/alimentos/huevo.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>Huevo</h5>
                            <p class="card-text">Con los puños entrecerrados los juntamos y movemos de adentro hacia afuera simulando abrir un huevo.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" style align="center">
                <div class="row">
                    <div class="col-sm">
                        <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                            <img src="/images/Vocabulario/alimentos/pan.gif" class="img-fluid" class="card-img-top" alt="img_saludos">
                            <div class="card-body">
                                <h5>Pan</h5>
                                <p class="card-text">Con el dedo índice, apuntamos a nuestro labio superior, ligeramente abrimos la boca y vocalizamos, por último abrimos ligeramente la mano.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                            <img src="/images/Vocabulario/alimentos/aceite.gif" class="card-img-top" class="img-fluid" alt="img_saludos">
                            <div class="card-body">
                                <h5>Aceite</h5>
                                <p class="card-text">Con el puño cerrado y el pulgar hacia abajo, movemos ligeramente de manera circular.</p>
                            </div>
                        </div>
        </div>
    </div>
{% endblock %}