{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>La página que buscas ya no esta disponible, o no existe!</h1>

    <p>
        Lamentamos mucho que no puedas acceder a la página deseada. Revisa el contenido de la url
        <a href="{{ path('homepage') }}">regresa al Inicio.</a>
        
    </p>
{% endblock %}
