{% extends 'base.html.twig' %}

{% block title %}Direcciones{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item"><a href="/frases">Frases Conversacionales</a></li>
                <li class="breadcrumb-item active" aria-current="page">Direcciones</li>
            </ol>
        </nav>
        <h1>Frases que podemos usar al momento de la movilización</h1>

        <div class="container" align="center">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                        <img src="/images/Vocabulario.png" class="img-fluid" class="card-img-top" alt="img_saludos">
                        <div class="card-body">
                            <h5>¿Cómo se llama esta calle?</h5>
                            <p class="card-text">Los dedos de deslizan repetidamente por el dorso del antebrazo. Luego con ambas manos, los dedos se tocan varias veces. Nuestra cara debe reflejar una duda.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #ffffff;">
                        <img src="/images/Vocabulario.png" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>¿Dónde queda...?</h5>
                            <p class="card-text">Las manos, una detrás de otra, cambian de posición alternadamente. Luego, con ambas palmas hacia arriba y las movemos hacia los lados. </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="/images/Vocabulario.png" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>¿Dónde hay buses?</h5>
                            <p class="card-text">Los dedos tocan la palma de la mano contraria, luego las manos se separan en diagonal. Luego, con ambas palmas hacia arriba y las movemos hacia los lados.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" align="center">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem; border-color: #FFFFFF;">
                        <img src="/images/Vocabulario.png" class="img-fluid" class="card-img-top" alt="img_saludos">
                        <div class="card-body">
                            <h5>¿Dónde hay taxis?</h5>
                            <p class="card-text">La mano de arriba se desliza de adentro hacia afuera varias veces. Luego, con ambas palmas hacia arriba y las movemos hacia los lados.  </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="/images/Vocabulario.png" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>¿Cómo se llama este sector?</h5>
                            <p class="card-text">Las manos, una detrás de otra, cambian de posición alternadamente. Luego con ambas manos, los dedos se tocan varias veces. Nuestra cara debe reflejar una duda.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;border-color: #FFFFFF;">
                        <img src="/images/Vocabulario.png" class="card-img-top" class="img-fluid" alt="img_saludos">
                        <div class="card-body">
                            <h5>¿Cómo se llama esta ciudad?</h5>
                            <p class="card-text">El pulgar toda dos veces la palma de la mano contraria. Luego con ambas manos, los dedos se tocan varias veces. Nuestra cara debe reflejar una duda.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
